body{
    background-color: aqua;
}
.box-part{
    background-color: antiquewhite;
    padding: 50px 10px;
    margin: 30px 5px;
}
.fa{
    color: blue;
}
a{
    border-bottom: 1px solid blue;
}
p{
    font-size: 12px;
}
.box {
    padding: 60px 0px;
}